<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Feature Code Forecast" />
                <rule name="Feature Code Forecast">
                    <match url="gym/fcf" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="gymb/forecast/Gym-FCF2/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
